footer {
  position: relative;
  z-index: 1;
  /* Atur styling lainnya untuk footer */
}
.vehicle-card {
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}

.vehicle-card:hover {
  z-index: 2; /* Pastikan tidak terlalu tinggi agar tidak menutupi footer */
  transform: scale(1.05); /* Misalnya untuk efek hover */
}
