.footer {
  position: absolute;
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.vehicle-card {
  position: relative;
  z-index: 0; /* Nilai z-index untuk CarCard */
}

.vehicle-card:hover {
  z-index: 1; /* Saat CarCard dihover, atur z-index menjadi lebih tinggi */
}
