/* Container Utama untuk halaman login dengan background animasi */
.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  position: relative;
  overflow: auto;
  background-color: #f0f8ff; /* Warna latar belakang */
}

/* Gelembung yang bergerak */
.bubble {
  position: absolute;
  border-radius: 50%;
  background: rgba(0, 123, 255, 0.6); /* Ini akan di override oleh backgroundColor inline */
  pointer-events: none;
  animation: bubbleUp 10s infinite; /* Animasi gelembung */
}

@keyframes bubbleUp {
  0% {
    transform: translate(0, 0) scale(0.5);
    opacity: 0.7;
  }
  100% {
    transform: translate(var(--x-dir), var(--y-dir)) scale(var(--scale));
    opacity: 0;
  }
}
